[submodule "external/toml++"]
	path = external/toml++
	url = https://github.com/marzer/tomlplusplus.git

[submodule "external/indicators"]
	path = external/indicators
	url = https://github.com/p-ranav/indicators.git

[submodule "external/stduuid"]
	path = external/stduuid
	url = https://github.com/mariusbancila/stduuid.git

[submodule "external/uvw"]
	path = external/uvw
	url = https://github.com/skypjack/uvw.git
