*.ts
*.m3u8
*.out
*.log
hls_*
*.crt
*.key
abr-bin
docs/
output*/
build*/
payload*/
logs*/
.cache/
*.mp3
*.wav
*.flac
*.m4a
*.pcm
*.raw
*/**/miniaudio.h
*/**/toml.hpp
*/**/nuklear.h 
*/**/stb_image.h
autogen/
