[submodule "external/toml++"]
	path = external/toml++
	url = https://github.com/marzer/tomlplusplus.git

[submodule "external/indicators"]
	path = external/indicators
	url = https://github.com/p-ranav/indicators.git

[submodule "external/stduuid"]
	path = external/stduuid
	url = https://github.com/mariusbancila/stduuid.git

[submodule "external/crow"]
	path = external/crow
	url = https://github.com/CrowCpp/Crow.git

[submodule "external/libbacktrace"]
	path = external/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace.git
